Django==1.6.10
dj_database_url
-e git+https://github.com/AASHE/django-constant-contact.git#egg=django_constant_contact
-e git+https://github.com/baronvonvaderham/django-bulletin.git#egg=django_bulletin
django-haystack==2.4.0rc1
django-overextends
ipython
raven
psycopg2
-e git+https://github.com/riltsken/python-constant-contact.git#egg=python-constant-contact
whoosh
django-registration
gunicorn==19.3.0
dj-database-url==0.3.0
dj-static==0.0.6
